@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #000000, #000000),
    linear-gradient(325.27deg, #2c83f6 4.12%, #0b1d26 45.35%, #4a5666 84.28%);
  border-image-slice: 1;
}

.input-border {
  position: relative;
  padding: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.input-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px; /* Match the border radius */
  padding: 0.75px; /* Match the border width */
  background: linear-gradient(90deg, #2c83f6 0%, #25b1f2 51.44%, #0b1726 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* Allow interaction with the content inside */
}

.sidebarFooterBg {
  background: url("/images/sidebarFooterBg.png");
  background-blend-mode: darken;
  background-color: #000;
}

.box-border {
  border-radius: 12px;
  overflow: hidden;
}

.box-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  padding: 0.75px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    ),
    /* Inner subtle gradient */
      linear-gradient(99.8deg, #696868 2.8%, #041c3b 78.16%, #30363f 94.45%); /* Outer vibrant gradient */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* Allow interaction with the content inside */
}

/* styles/globals.css */
@font-face {
  font-family: "Parsi";
  src: url("/fonts/Parsi-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: Define a CSS class if you want to use it outside of Tailwind */
.parsi {
  font-family: "Parsi", sans-serif;
}

.inputfield-border {
  position: relative;
  /* padding: 10px; */
  border-radius: 12px;
  overflow: hidden;
}

.inputfield-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px; /* Match the border radius */
  padding: 0.75px; /* Match the border width */
  background: linear-gradient(
    101.03deg,
    #494949 2.75%,
    #02212f 84.27%,
    #313943 101.9%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* Allow interaction with the content inside */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-container {
  display: flex;
  border: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  color: white !important;
}

.otp-container {
  width: 100%;
  display: flex;
  gap: 7px;
  color: white !important;
}

.otp-container input {
  width: 40px !important;
  height: 40px !important;
  background: #0e1623;
}

/* SCROLL BAR  */

/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Track color */
  border-radius: 6px; /* Round edges of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #2a86f5; /* Thumb color */
  border-radius: 6px; /* Rounded scrollbar thumb */
  border: 3px solid #1a1a1a; /* Adds space around the thumb */
}

/* Hide scrollbar arrows */
::-webkit-scrollbar-button {
  display: none; /* Removes the up and down arrows */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Set scrollbar width to thin */
  scrollbar-color: #2a86f5 #1a1a1a; /* Thumb and track color */
}

@media (max-width: 768px) {
  .otp-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    color: white !important;
  }

  .otp-container input {
    width: 30px !important;
    height: 30px !important;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
